---
export interface FaqCardProps {
  showLink?: boolean;
  href?: string;
  type: 'about' | 'secret' | 'several' | 'whom' | 'price' | 'thats-it';
}

const { type, showLink = false, href } = Astro.props;
---

<div class:list={['faq-item', `faq-item--${type}`]}>
  <h3 class="faq-item__title">
    <slot name="faq-title" />
  </h3>
  <div class="faq-item__footer">
    <div class="faq-item__description">
      <slot name="faq-description" />
    </div>
    {
      showLink && (
        <a href={href} class="faq-link">
          <slot name="faq-link" />
        </a>
      )
    }
  </div>
</div>
<style lang="scss">
  .faq-link {
    display: inline-flex;
    align-self: start;
    padding: 6px 24px 10px;
    color: var(--card-background-color);
    font-feature-settings:
      'dlig' on,
      'ss04' on;
    font-size: 21px;
    font-weight: 500;
    line-height: 1.14;
    letter-spacing: -0.21px;
    background-color: var(--natural-white);
    text-decoration: none;
    box-shadow: 0 2px 8px 0 rgba(32, 38, 89, 0.16);
    border-radius: 60px;
  }

  .faq-item {
    display: grid;
    padding: 16px 32px 32px 24px;
    border-radius: 24px;
    min-height: 560px;
    color: var(--card-color);
    background-color: var(--card-background-color);
  }

  .faq-item__footer {
    margin-top: auto;
  }

  .faq-item__description {
    display: grid;
    gap: 20px;
    font-size: 19px;
    font-weight: 400;
    line-height: 1;
    letter-spacing: -0.19px;
  }

  .faq-item__title {
    max-width: 1000px;
    font-size: 40px;
    font-feature-settings:
      'dlig' on,
      'ss04' on;
    line-height: 1.4;
    letter-spacing: -0.4px;
    font-family: BudujSansHeight;
    font-weight: 900;
  }

  .faq-item--about {
    --card-color: var(--natural-white);
    --card-background-color: var(--calm-green);
  }

  .faq-item--secret {
    --card-color: var(--water-blue);
    --card-background-color: var(--tissue-biege);
  }

  .faq-item--several {
    --card-color: var(--noble-pink);
    --card-background-color: var(--bloody-red);
  }

  .faq-item--whom {
    --card-color: var(--natural-white);
    --card-background-color: var(--evening-blue);
  }

  .faq-item--price {
    --card-color: var(--tissue-biege);
    --card-background-color: var(--soil-brown);
  }

  .faq-item--thats-it {
    --card-color: var(--natural-white);
    --card-background-color: var(--water-blue);
  }

  .faq-item__footer {
    display: flex;
    flex-direction: column;
    gap: 20px;
  }

  @media screen and (min-width: 767px) {
    .faq-item {
      min-height: 816px;
    }

    .faq-item__title {
      font-size: 72px;
      line-height: 1.44;
    }

    .faq-item__description {
      font-size: 36px;
      letter-spacing: -0.36px;
      max-width: 640px;
      width: 100%;
    }
  }

  @media screen and (min-width: 1280px) {
    .faq-link {
      align-self: end;
    }

    .faq-item__footer {
      justify-content: space-between;
      align-items: flex-end;
      flex-direction: row;
    }

    .faq-item__title {
      font-size: 96px;
      line-height: 1.25;
    }

    .faq-item__description {
      font-size: 36px;
      letter-spacing: -0.36px;
    }
  }
</style>
