---
import { ModalIds } from 'src/constants/modals';
import Button from '../Button.astro';
import Modal from '../modal/Modal.astro';
---

<Modal x-data="adultModal" type="info" showOnMount id={ModalIds.ADULT_MODAL}>
  <Fragment slot="title">
    <span x-html="text"></span>
  </Fragment>
  <Fragment slot="buttons">
    <Button fullWidth appearance="text" x-on:click="onDisagreeClick"
      >Я ще неповнолітній</Button
    >
    <Button fullWidth x-on:click="onAgreeClick">Мені більше 18</Button>
  </Fragment>
</Modal>

<script>
  import { LocalStorageKeys } from 'src/constants/storage';
  import { ModalIds } from 'src/constants/modals';
  import Alpine from 'alpinejs';
  import { adaptedLocalStorage } from 'src/services/storage';

  const id = ModalIds.ADULT_MODAL;

  document.addEventListener('alpine:init', () => {
    Alpine.data('adultModal', () => ({
      isAdult: false,
      text: `Будь ласка, підтвердіть, <span class="wh-nowrap">що вам</span> 18+ років для
    перегляду сайту.`,

      onAgreeClick() {
        adaptedLocalStorage.set(LocalStorageKeys.ADULT_MODAL, 'true');
        window.modalController.destroy(id);
      },
      onDisagreeClick() {
        this.isAdult = false;
        this.text = 'Ви маєте бути повнолітнім щоб переглядати цей сайт.';
      },
    }));
  });
</script>
