---
import { Routes } from 'src/config';
import Button from '../Button.astro';
import Modal from '../modal/Modal.astro';
import { ModalIds } from 'src/constants/modals';
---

<Modal
  type="success"
  showCloseButton
  id={ModalIds.SUCCESS_MODAL}
  description="Дякуємо! Ми дуже раді, що ви замовили підписку та найближчим часом звʼяжемось з вами, щоб підтвердити замовлення та дізнатись дані для відправки."
>
  <Fragment slot="title">Замовлення успішно прийняте!</Fragment>
  <Fragment slot="buttons">
    <Button href={Routes.home} fullWidth data-action="close">На головну</Button>
  </Fragment>
</Modal>

<script>
import { ModalIds } from "src/constants/modals";

  document.addEventListener('DOMContentLoaded', () => {
    const successModal = document.getElementById(ModalIds.SUCCESS_MODAL);

    successModal?.addEventListener('click', (event) => {
      const target = event.target as HTMLElement;
      const action = target.getAttribute('data-action');

      if (action === 'close') {
        window.modalController.hide(ModalIds.SUCCESS_MODAL);
      }
    });
  });
</script>
