---
import SectionIntro from '../section/SectionIntro.astro';
import Container from '../Container.astro';
import Card from './Card.astro';
import { type CardProps } from './Card.astro';
import { AnchorSections } from 'src/config';

const cards: CardProps[] = [
  {
    title: 'Одна',
    description:
      'Вам приїде одна хороша пляшка вина, яку ретельно підбере <span class="wh-nowrap">Рома Ремеєв</span>. Всередині коробки буде: ',
    type: 'one',
  },
  {
    title: 'Дві',
    description:
      'Вам приїде одна хороша пляшка вина та одна дуже хорошa пляшка, які ретельно підбере <span class="wh-nowrap">Рома Ремеєв</span>. Всередині коробки будуть: ',
    type: 'two',
  },
  {
    title: 'Одну, але рідкісну',
    description:
      'Вам приїде пляшка вина, яку ми привеземо з Європи та яка ніколи не продавалась в Україні. Всередині коробки буде: ',
    type: 'special',
  },
];
---

<section class="section" id={AnchorSections.subscribe}>
  <Container>
    <div class="wrapper">
      <SectionIntro align="center">
        <Fragment slot="section-subtitle">Яке ВИНО</Fragment>
        <Fragment slot="section-title">Скiльки можна замовити пляшок?</Fragment>
      </SectionIntro>
      <div class="cards">
        {
          cards.map((card) => (
            <Card
              title={card.title}
              description={card.description}
              type={card.type}
            />
          ))
        }
      </div>
    </div>
  </Container>
</section>

<style>
  .section {
    padding-block: 60px;
  }

  .wrapper {
    display: grid;
    gap: 40px;
  }

  .cards {
    display: grid;
    gap: 16px;
  }

  @media screen and (min-width: 768px) {
    .section {
      padding-block: 100px;
    }

    .wrapper {
      gap: 60px;
    }

    .cards {
      display: grid;
      gap: 40px;
    }
  }

  @media screen and (min-width: 1024px) {
    .section {
      padding-block: 80px 100px;
    }

    .cards {
      display: grid;
      grid-template-columns: repeat(auto-fit, minmax(350px, 1fr));
    }
  }
</style>
