@font-face {
  font-family: "EB Garamond";
  font-style: italic;
  font-weight: 400;
  font-display: swap;
  src: url("/fonts/eb-garamond-italic.woff2") format("woff2");
}

@font-face {
  font-family: "Scuto Sans";
  src:
    url("/fonts/scutosans-italic.woff2") format("woff2"),
    url("/fonts/scutosans-italic.woff") format("woff");
  font-weight: 400;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: "Scuto Sans";
  src:
    url("/fonts/scutosans-regular.woff2") format("woff2"),
    url("/fonts/scutosans-regular.woff") format("woff");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Scuto Sans";
  src:
    url("/fonts/scutosans-semibold.woff2") format("woff2"),
    url("/fonts/scutosans-semibold.woff") format("woff");
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}

:root {
  --night-dark: #292428;
  --evening-blue: #596b86;
  --bloody-red: #be3834;
  --tissue-biege: #e6ded1;
  --natural-white: #fafafa;
  --noble-pink: #310421;
  --water-blue: #4756dc;
  --calm-green: #258458;
  --soil-brown: #947f6f;
  --ripe-orange: #df831e;
  --main-white: #fcfbfa;

  --outline-color: var(--main-white);
  --outline-width: 1px;
  --outline-offset: 2px;
}

*,
*::after,
*::before {
  box-sizing: border-box;
  -webkit-tap-highlight-color: transparent;
}

*:focus-visible {
  outline: var(--outline-width) solid var(--outline-color);
  outline-offset: var(--outline-offset);
}

* {
  margin: 0;
}

html {
  scroll-behavior: smooth;
}

html:focus-within {
  scroll-behavior: smooth;
}

body {
  min-height: 100vh;
  text-rendering: optimizeSpeed;
  -webkit-font-smoothing: antialiased;
  background-color: #1a1a1f;
  color: #fcfbfa;
  font-family: "Scuto Sans", sans-serif;
  font-weight: 400;
  font-size: 17px;
  line-height: 1.41;
}

canvas,
img,
picture,
svg,
video {
  display: block;
  max-width: 100%;
  height: auto;
}

button,
input,
select,
textarea {
  font: inherit;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  overflow-wrap: break-word;
}

.heading,
.heading-font {
  font-family: "EB Garamond", serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: italic;
}

.eb-garamond-font {
  font-family: "EB Garamond", serif;
}

#__next,
#root {
  isolation: isolate;
}

ol[role="list"],
ul[role="list"] {
  list-style: none;
  padding: 0;
}

a {
  color: inherit;
  text-decoration: none;
}

a:not([class]) {
  text-decoration-skip-ink: auto;
}

.wh-nowrap {
  white-space: nowrap;
}

.visually-hidden {
  border: 0;
  clip: rect(0, 0, 0, 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px;
}
