---
import SectionHowItWorks from '@components/section/SectionHowItWorks.astro';
import SectionAbout from '@components/section/SectionAbout.astro';
import PageLayout from 'src/layouts/PageLayout.astro';
import SectionLogo from '@components/section/SectionLogo.astro';
import SectionSubscribe from '@components/section-subscribe/SectionSubscribe.astro';
import SectionBenefit from '@components/SectionBenefit.astro';
import Hero from '@components/Hero.astro';
import SectionFor from '@components/SectionFor.astro';
import FixedLogo from '@components/FixedLogo.astro';
import Footer from '@components/Footer.astro';
import SectionTable from '@components/section/SectionTable.astro';
---

<PageLayout title="sik">
  <FixedLogo />
  <Hero />
  <SectionHowItWorks />
  <SectionTable />
  <SectionAbout />
  <SectionSubscribe />
  <SectionFor />
  <SectionBenefit />
  <div class="last-block">
    <SectionLogo />
    <Footer />
  </div>
</PageLayout>

<style>
  .last-block {
    display: grid;
    grid-template-rows: 1fr auto;
    height: 100vh;
  }
</style>

<script>
  import { initIntersect } from '../utils/intersect';
  initIntersect();
</script>
