---
import BaseHeader, { type IHeaderLink } from './BaseHeader.astro';
import Logo from '@components/Logo.astro';
import { Routes } from 'src/config';

const links: IHeaderLink[] = [
  {
    href: Routes.home,
    text: 'на головну',
  },
  {
    text: '→',
    tag: 'span',
    props: {
      class: 'c-secondary',
    },
  },
  {
    href: Routes.subscribe,
    text: 'оплата',
    props: {
      isInactive: true,
    },
  },
];
---

<BaseHeader className="form-header" links={links}>
  <div class="logo" slot="logo">
    <Logo />
  </div>
</BaseHeader>

<style lang="scss">
  .form-header {
    display: grid;
    grid-template-columns: 1fr auto 1fr;
    align-items: start;
    @media screen and (max-width: $bp-tablet-max) {
      grid-template-columns: 1fr;

      .logo {
        display: none;
      }
    }
  }
</style>
