---
import HeaderLink from './HeaderLink.astro';
import BaseHeader from './BaseHeader.astro';
import Logo from '@components/Logo.astro';
import { Routes } from 'src/config';
---

<BaseHeader className="form-header">
  <Fragment slot="links">
    <HeaderLink href={Routes.home} withIcon={false}
      >на головну</HeaderLink
    >
    <span class="c-secondary">→</span>
    <HeaderLink
      aria-current="page"
      isInactive
      href="/subscribe"
      withIcon={false}>оплата</HeaderLink
    >
  </Fragment>
  <div class="logo" slot="logo">
    <Logo />
  </div>
</BaseHeader>

<style>
  .form-header {
    display: grid;
    grid-template-columns: 1fr auto 1fr;
    align-items: start;
  }

  @media screen and (max-width: 767px) {
    .form-header {
      grid-template-columns: 1fr;
    }

    .form-header .logo {
      display: none;
    }
  }
</style>
