---
import Link from '@components/Link.astro';
import BaseHeader, { type IHeaderLink } from './BaseHeader.astro';
import { AnchorLinks } from 'src/config';

const links: IHeaderLink[] = [
  {
    href: AnchorLinks.howItWorks,
    text: 'Як це працює',
  },
  {
    href: AnchorLinks.whatsInside,
    text: 'Що всередині',
  },
  {
    href: AnchorLinks.subscribe,
    text: 'Яке вино',
  },
  {
    href: AnchorLinks.forWho,
    text: 'Для кого',
  },
];
---

<BaseHeader className="header" hasMobileView links={links}>
  <div slot="actions">
    <Link href={AnchorLinks.subscribe} isAnchor withIcon>Підписатись</Link>
  </div>
</BaseHeader>

<style>
  .header {
    position: sticky;
    top: 0;
    left: 0;
    z-index: 999;
    display: flex;
    justify-content: space-between;
    gap: 12px;
  }
</style>
