---
import Link from '@components/Link.astro';
import BaseHeader, { type IHeaderLink } from './BaseHeader.astro';
import { AnchorLinks } from 'src/config';

const links: IHeaderLink[] = [
  {
    href: AnchorLinks.howItWorks,
    text: 'Як це працює',
  },
  {
    href: AnchorLinks.whatsInside,
    text: 'Що всередині',
  },
  {
    href: AnchorLinks.subscribe,
    text: 'Плани',
  },
  {
    href: AnchorLinks.forWho,
    text: 'Для кого',
  },
];
---

<BaseHeader className="header is-visible" data-js-main-header hasMobileView links={links}>
  <div slot="actions">
    <Link
      href={AnchorLinks.subscribe}
      isAnchor
      withIcon
      data-analytics="header_link_subscribe_click"
      >Підписатись</Link
    >
  </div>
</BaseHeader>

<style lang="scss">
  .header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 999;
    display: flex;
    justify-content: space-between;
    gap: 12px;
    transition: opacity 0.3s ease-in-out;
    pointer-events: none;
    opacity: 0;
    &.is-visible {
      opacity: 1;
      pointer-events: auto;
    }
  }
</style>

<script>
  import { revealOnBackScroll } from 'src/utils/dom';

  const mainHeader = document.querySelector('[data-js-main-header]');
  if (mainHeader) {
    revealOnBackScroll(mainHeader);
  }
</script>
