---
const props = Astro.props;
---
<blockquote {...props} class="bg-blue-50 p-4" style="color: white; font-size: 5.4rem; font-weight: 700;">
  <span class="text-4xl text-blue-600 mb-2">“</span>
  <slot /> <!-- Be sure to add a `<slot/>` for child content! -->
</blockquote>
