---

---

<div class="container">
  <slot />
</div>

<style lang="scss">
  .container {
    --padding-inline: 16px;
    --width: 1376px;

    max-width: calc(var(--width) + var(--padding-inline) * 2);
    padding: 0 var(--padding-inline);
    margin: 0 auto;

    @media screen and (min-width: $bp-tablet-min) {
      --padding-inline: 40px;
    }

    @media screen and (min-width: $bp-desktop-min) {
      --padding-inline: 80px;
    }
  }
</style>
