---
import Logo from './Logo.astro';
---

<div class="fixed-logo" data-js-fixed-logo>
  <Logo />
</div>

<style lang="scss">
  .fixed-logo {
    position: fixed;
    top: var(--header-padding-block);
    left: 50%;
    transform: translateX(-50%);
    width: 93px;
    height: 60px;
    z-index: 1000;
    opacity: 0;
    pointer-events: none;
    transition: opacity 0.3s ease-in-out;

    @media screen and (max-width: $bp-desktop-max) {
      display: none;
    }
  }

  .is-visible {
    opacity: 1;
    pointer-events: auto;
  }
</style>

<script>
  import { revealOnBackScroll } from 'src/utils/dom';

  const fixedLogo = document.querySelector('[data-js-fixed-logo]');
  if (fixedLogo) {
    revealOnBackScroll(fixedLogo);
  }
</script>
