---
import { SocialLinks } from '../config';

interface Props {
  shouldShowLinks?: boolean;
}

const { shouldShowLinks = true }: Props = Astro.props;
---

<footer class="footer">
  <div class="wrapper">
    <p class="copyright">©️ сік, 2023 — зараз</p>
    {
      shouldShowLinks && (
        <ul class="links-list row" role="list">
          <li>
            <a
              id="test-event-button"
              target="_blank"
              rel="noopener noreferrer"
              href={SocialLinks.instagram}
            >
              інстаграм
            </a>
          </li>
          <li>
            <a
              target="_blank"
              rel="noopener noreferrer"
              href={SocialLinks.telegram}
            >
              телеграм
            </a>
          </li>
        </ul>
      )
    }
    <div class="right row">
      <p class="location">КИїв, УКРАЇНА</p>
      <a href="mailto:hello@sik.wine">hello@sik.wine</a>
    </div>
  </div>
</footer>

<style>
  :root {
    --footer-block-padding: 8px;
  }

  .row {
    display: flex;
    gap: 16px;
  }

  .footer {
    padding: var(--footer-block-padding) 24px;
    margin-top: auto;
    letter-spacing: 0.8px;
  }

  .footer a {
    transition: color 0.2s;
  }

  .footer a:hover {
    color: #cccbca;
  }

  .footer a:focus-visible {
    --outline-color: #6f6f72;
    --outline-offset: 4px;
    outline: var(--outline-width) solid var(--outline-color);
    outline-offset: var(--outline-offset);
  }

  .copyright {
    grid-area: copyright;
  }

  .links-list {
    grid-area: links-list;
  }

  .right {
    grid-area: right;
  }

  .wrapper {
    display: grid;
    grid-template-areas:
      'links-list'
      'right'
      'copyright';
    gap: 4px;
    justify-items: center;
    color: #6f6f72;
    font-size: 12px;
    line-height: 2;
    font-weight: 400;
  }

  .wrapper * {
    color: inherit;
    font: inherit;
    text-transform: uppercase;
  }

  @media screen and (min-width: 768px) {
    .wrapper {
      grid-template-areas: 'copyright links-list right';
      grid-template-columns: 1fr auto 1fr;
      font-size: 13px;
      line-height: 1.84;
    }
    .copyright {
      justify-self: start;
    }

    .links-list {
      justify-self: center;
    }

    .right {
      justify-self: end;
    }
  }
</style>

<script is:inline>
  document.getElementById('test-event-button').addEventListener('click', () => {
    window.gtag('event', 'signin');
  });
</script>
