---
import Container from './Container.astro';
import { Config } from '../config';
---

<footer class="footer">
  <div class="wrapper">
    <p class="copyright">©️ сік, 2023 — зараз</p>
    <ul class="links-list row" role="list">
      <li>
        <a
          target="_blank"
          rel="noopener noreferrer"
          href={Config.links.instagram}>інстаграм</a
        >
      </li>
      <li>
        <a
          target="_blank"
          rel="noopener noreferrer"
          href={Config.links.telegram}>телеграм</a
        >
      </li>
    </ul>
    <div class="right row">
      <p class="location">КИїв, УКРАЇНА</p>
      <a href="mailto:hello@sik.wine">hello@sik.wine</a>
    </div>
  </div>
</footer>

<style>
  :root {
    --footer-block-padding: 8px;
  }

  .row {
    display: flex;
    gap: 16px;
  }

  .footer {
    padding: var(--footer-block-padding) 24px;
  }

  .copyright {
    grid-area: copyright;
  }

  .links-list {
    grid-area: links-list;
  }

  .right {
    grid-area: right;
  }

  .wrapper {
    display: grid;
    grid-template-areas:
      'links-list'
      'right'
      'copyright';
    gap: 4px;
    justify-items: center;
    color: #6f6f72;
    font-size: 12px;
    line-height: 2;
    font-weight: 400;
  }

  .wrapper * {
    color: inherit;
    font: inherit;
    text-transform: uppercase;
  }

  @media screen and (min-width: 767px) {
    .wrapper {
      grid-template-areas: 'copyright links-list right';
      grid-template-columns: 1fr auto 1fr;
      font-size: 13px;
      line-height: 1.84;
    }
    .copyright {
      justify-self: start;
    }

    .links-list {
      justify-self: center;
    }

    .right {
      justify-self: end;
    }
  }
</style>
