---
import Button from '@components/Button.astro';
import { getPrices } from '../services/subscriptions/utils';
import Input from './input/Input.astro';

interface Props {
  months: number;
  bottles: number | 'special';
}

const { months, bottles } = Astro.props;
---

<form class="form">
  <div class="inputs">
    <Input type="text" inputmode="tel" label="Телефон" id="phone-field" />
    <Input type="email" inputmode="email" label="Email" id="email-field" />
  </div>
  <div class="buttons">
    <Button type="submit"
      >Підписатись за {getPrices(bottles, months).sum} ₴</Button
    >
  </div>
</form>

<style>
  .form {
    display: grid;
    gap: 40px;
  }

  .inputs {
    display: grid;
    gap: 16px;
  }

  .buttons {
    --button-width: 100%;
  }

  @media screen and (min-width: 768px) {
    .inputs {
      grid-template-columns: 1fr 1fr;
      gap: 24px;
    }

    .buttons {
      --button-width: auto;

      display: flex;
      justify-content: end;
    }
  }
</style>
