---
import { Icon } from 'astro-icon/components';
import type { HTMLAttributes } from 'astro/types';

export interface LinkProps extends HTMLAttributes<'a'> {
  href?: string;
  isAnchor?: boolean;
  withIcon?: boolean;
  withBorder?: boolean;
  isInactive?: boolean;
}

const {
  isAnchor,
  href,
  withIcon = false,
  withBorder = true,
  isInactive = false,
  ...otherProps
} = Astro.props as LinkProps;
const icon = isAnchor ? '↓' : '↗';
const Tag = isInactive ? 'span' : 'a';
---

<Tag
  class:list={[
    'link',
    {
      'link--with-icon': withIcon,
      'link--with-border': withBorder,
      'link--inactive': isInactive,
    },
  ]}
  href={href}
  {...otherProps}
>
  <span class="text">
    <slot />
  </span>
  {withIcon && <span class="icon">{icon}</span>}
</Tag>

<style is:global lang="scss">
  .link {
    --link-outline-offset: 7px;
    --_link-color: var(--link-color, var(--main-white));

    position: relative;
    display: inline-flex;
    gap: 4px;
    font-size: 1.3rem;
    line-height: 1.84;
    color: var(--_link-color);
    transition-property: color, border-color;
    transition-duration: 0.2s;
    outline: none;
    text-transform: uppercase;
    letter-spacing: 0.8px;

    &--with-icon {
      gap: 4px;
    }

    &--inactive {
      pointer-events: none;
    }

    &--with-border {
      border-bottom: 1px solid var(--link-border-color, var(--_link-color));
    }
  }

  .link::before {
    --offset: calc(var(--link-outline-offset) * -1);

    content: '';
    position: absolute;
    top: var(--offset);
    left: var(--offset);
    bottom: var(--offset);
    right: var(--offset);
    border: var(--outline-width) solid var(--_link-color);
    border-radius: 2px;
    display: none;
  }

  @media (hover: hover) and (pointer: fine) {
    .link:hover {
      --_link-color: #f5c620;
    }
  }

  .link:focus-visible::before {
    display: block;
  }
</style>
