---
import { Icon } from 'astro-icon/components';
import type { HTMLAttributes } from 'astro/types';
import { fade } from 'astro:transitions';

interface Props extends HTMLAttributes<'a'> {
  href: string;
  isAnchor?: boolean;
  withIcon?: boolean;
}

const { isAnchor, href, withIcon = false } = Astro.props;
const icon = isAnchor ? '↓' : '↗';
---

<a class:list={['link', { 'link--with-icon': withIcon }]} href={href}>
  <span class="text">
    <slot />
  </span>
  {withIcon && <span class="icon">{icon}</span>}
</a>

<style>
  .link {
    --link-outline-offset: 7px;
    --link-color: var(--main-white);
    --link-border-color: var(--link-color);

    position: relative;
    display: inline-flex;
    gap: 4px;
    font-size: 13px;
    line-height: 1.84;
    color: var(--link-color);
    transition-property: color, border-color;
    transition-duration: 0.2s;
    outline: none;
    text-transform: uppercase;
    letter-spacing: 0.05em;
  }

  .link--with-icon {
    gap: 4px;
    border-bottom: 1px solid var(--link-border-color);
  }

  .link::before {
    --offset: calc(var(--link-outline-offset) * -1);

    content: '';
    position: absolute;
    top: var(--offset);
    left: var(--offset);
    bottom: var(--offset);
    right: var(--offset);
    border: var(--outline-width) solid var(--link-color);
    border-radius: 2px;
    display: none;
  }

  .link:hover {
    --link-color: #f5c620;
  }

  .link:focus-visible::before {
    display: block;
  }
</style>
