<p class="paragraph"><slot /></p>

<style lang="scss">
  .paragraph {
    font-size: 17px;
    font-weight: 400;
    line-height: 1.41;
    @media screen and (min-width: 768px) {
      font-size: 21px;
      line-height: 1.42;
    }
  }
</style>
