<p class="paragraph"><slot /></p>

<style lang="scss">
  .paragraph {
    font-size: 1.7rem;
    font-weight: 400;
    line-height: 1.41;
    @media screen and (min-width: $bp-tablet-min) {
      font-size: 2.1rem;
      line-height: 1.42;
    }
  }
</style>
