---
import Container from './Container.astro';
---

<section class="section" data-intersect aria-labelledby="section-benefit-title">
  <Container>
    <h2 class="title heading" id="section-benefit-title">
      Пийте вино. Діліться ним з близькими. Підписуйтесь. Воно того вартує
    </h2>
  </Container>
</section>

<style lang="scss">
  .section {
    padding-block: 80px;

    @media screen and (min-width: $bp-tablet-min) {
      padding-block: 100px;
    }
  }

  .title {
    font-size: 28px;
    line-height: 1.14;
    padding-inline: 64px;
    margin-inline: auto;
    text-align: center;

    @media screen and (min-width: $bp-tablet-min) {
      font-size: 56px;
      line-height: 0.85;
      padding: 0;
    }

    @media screen and (min-width: $bp-desktop-min) {
      font-size: 80px;
      line-height: 1;
    }
  }
</style>
