---
import Container from './Container.astro';
import SectionIntro from './section/SectionIntro.astro';
import { Image } from 'astro:assets';
import img from '@assets/img/image-test.jpg';
import Paragraphs from './Paragraphs.astro';
import Paragraph from './Paragraph.astro';
import Link from './Link.astro';
import { AnchorSections, SocialLinks } from '../config';
---

<section
  class="section"
  id={AnchorSections.forWho}
  aria-labelledby="section-for-who-title"
>
  <div class="img-desktop-wrapper" data-intersect>
    <Image class="img-desktop" src={img} alt="" />
  </div>
  <Container>
    <div class="wrapper" data-intersect>
      <div class="content">
        <div class="intro">
          <SectionIntro align="center" titleId="section-for-who-title">
            <Fragment slot="section-subtitle">Для кого</Fragment>
            <Fragment slot="section-title">Кому потрібно підписатись?</Fragment>
          </SectionIntro>
        </div>
        <div class="grid">
          <div class="grid-item">
            <p>
              Тим, хто любить вино, але не любить обирати, що нового скуштувати
            </p>
          </div>
          <div class="grid-item">
            <p>
              Тим, хто хоче кожен місяць розпаковувати таємну пляшку та слухати
              цікаві історії про неї
            </p>
          </div>
          <div class="grid-item">
            <p>
              Тим, хто полює за особливими винами, <span class="wh-nowrap"
                >а головне</span
              > — особливими емоціями
            </p>
          </div>
          <div class="grid-item">
            <p>
              Та тим, хто хоче приємно здивувати людину, яка також любить вино
            </p>
          </div>
        </div>
        <div class="footer">
          <p>Коротко кажучи — усім, хто любить вино</p>
        </div>
      </div>
      <div class="content content--gift" data-intersect>
        <div class="intro">
          <SectionIntro align="center">
            <Fragment slot="section-subtitle">І наостанок</Fragment>
            <Fragment slot="section-title">Подаруйте підписку</Fragment>
          </SectionIntro>
        </div>
        <Paragraphs>
          <p>
            Ви можете підписати на вино свою близьку людину! Уявіть, їй або йому
            приїжджатимуть подарунки протягом трьох, шести або дванадцяти
            місяців. Цілий рік подарунків!
          </p>
          <p>
            Також, ми можемо зробити вам персональний подарунковий сертифікат —
            для цього натисніть на посилання нижче та напишіть нам в Телеграмі.
          </p>
        </Paragraphs>
        <div class="footer">
          <Link withIcon href={SocialLinks.telegramGift}
            >Замовити подарунковий сертифікат</Link
          >
        </div>
      </div>
    </div>
  </Container>
</section>

<style lang="scss">
  .grid {
    --grid-border-width: 1px;
    --grid-border-color: #6f6f72;
    --grid-border-style: solid;
    --grid-border: var(--grid-border-width) var(--grid-border-style)
      var(--grid-border-color);

    display: grid;
    text-align: start;
    border-right: var(--grid-border);
  }

  .grid-item {
    padding: 16px 28px 32px 16px;
    border-bottom: var(--grid-border);
  }

  .img-desktop-wrapper {
    background-color: #cfceb6;
    display: flex;
    justify-content: center;
  }

  .img-desktop {
    object-fit: contain;
    object-position: center;
    height: 100%;
  }

  .intro {
    margin-bottom: 40px;
  }

  .section {
    display: grid;
    text-align: center;
    padding-block: 60px 80px;
  }

  .wrapper {
    padding-block-start: 160px;
    max-width: 70rem;
    width: 100%;
    margin-inline: auto;
  }

  .content {
    --content-padding: 80px;

    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: var(--content-padding) 0;

    &--gift {
      max-width: 50rem;
      width: 100%;
      margin-inline: auto;
    }
  }

  .content:first-child {
    padding-top: 0;
  }

  .content:last-child {
    padding-bottom: 0;
  }

  .footer {
    margin-top: 80px;
  }

  @media screen and (max-width: $bp-tablet-max) {
    .img-desktop-wrapper {
      max-height: 480px;
    }
  }

  @media screen and (min-width: $bp-tablet-min) {
    .content {
      --content-padding: 120px;
    }

    .section {
      padding-block: 100px;
    }
    .grid {
      grid-template-columns: 1fr 1fr;
      border-right: 0;
    }

    .grid-item:nth-child(2n + 1) {
      border-right: var(--grid-border);
    }

    .grid-item:nth-child(2n) {
      padding-inline: 32px 16px;
    }

    .grid-item:last-child,
    .grid-item:nth-child(3) {
      border-bottom: 0;
      padding-block: 32px 16px;
    }

    .img-desktop-wrapper {
      max-height: 100%;
      min-height: 680px;
    }

    .footer {
      margin-top: 120px;
    }

    .intro {
      margin-bottom: 80px;
    }
  }

  @media screen and (min-width: 80rem) {
    .content {
      --content-padding: 120px;
      --content-height: calc(100vh - var(--content-padding) * 2);
      min-height: var(--content-height);
      min-height: var(--content-height);
    }

    .content:last-child {
      padding-bottom: 240px;
    }

    .footer {
      /* margin-top: auto; */
    }

    .intro {
      margin-bottom: 80px;
    }

    .img-desktop-wrapper {
      position: sticky;
      top: 0;
      left: 0;
      display: flex;
      align-items: center;
      justify-content: center;
      align-self: start;
      height: 100vh;
      height: 100dvh;
    }

    .section {
      grid-template-columns: 1fr 1fr;
      min-height: 100vh;
      min-height: 100dvh;
    }
  }
</style>
