---
import Button from '@components/Button.astro';
import Section from './Section.astro';
import Paragraph from '@components/Paragraph.astro';
import Paragraphs from '@components/Paragraphs.astro';
import { Config } from 'src/config';
---

<Section>
  <Fragment slot="section-subtitle">Як це працює</Fragment>
  <Fragment slot="section-title">Підписка на вино</Fragment>
  <Paragraphs>
    <Paragraph>
      Це як Netflix, тільки винний. Підписуєтесь і кожного місяця до вас
      приїжджатиме одна або дві пляшки вина. І кожен раз ці вина будуть різні.
    </Paragraph>
    <Paragraph>
      А ще, ми знімаємо відео-огляди про кожну пляшку, що потрапляють у
      підписку. Доступ до цих відео мають лише підписники. Казали ж, як Netflix!
    </Paragraph>
  </Paragraphs>
  <div class="button">
    <Button href={Config.anchors.subscribe}>Підписатись</Button>
  </div>
</Section>

<style>
  .button {
    margin-block-start: 32px;
  }

  @media screen and (min-width: 1024px) {
    .button {
      margin-block-start: 40px;
    }
  }
</style>
