---

---

<p class="section-subtitle">
  <slot />
</p>

<style lang="scss">
  .section-subtitle {
    margin-top: 16px;
    font-size: 19px;
    line-height: 1;
    color: var(--natural-white);
    text-align: center;
    max-width: 578px;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
  }

  @media screen and (min-width: 768px) {
    .section-subtitle {
      font-size: 28px;
      line-height: 1.14;
      max-width: 832px;
    }
  }

  @media screen and (min-width: 1280px) {
    .section-subtitle {
      margin-top: 24px;
      font-size: 36px;
      line-height: 1;
    }
  }
</style>
