---
import { Image } from 'astro:assets';
import imageTest from '../../assets/img/image-test.jpg';
---

<div class="section-test">
  <Image class="image-test" src={imageTest} alt="" />
  <div class="text">
    <div>
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolorum at porro
      illum consequatur ullam magni culpa molestiae! Eos quidem dolor
      repudiandae voluptatibus, aperiam est labore iure modi illo et, distinctio
      ipsa maiores libero quis impedit voluptatem optio explicabo illum minus.
      Consectetur earum, deleniti delectus odit nesciunt rem cumque dolore quis.
      Rerum impedit sed, hic praesentium atque, magnam consequatur assumenda
      magni aliquam dolorem nam voluptatem, libero sint quaerat vero? Optio
      beatae itaque voluptatum illo tenetur alias dicta provident quo. Nesciunt,
      commodi officia sunt provident quasi quos molestias sequi, libero
      assumenda harum delectus consequuntur. Dolorum aperiam voluptate, ullam
      vel perspiciatis maiores corrupti?
    </div>
    <div>
      Lorem ipsum dolor sit, amet consectetur adipisicing elit. Temporibus,
      nostrum illo ut magni deleniti ipsam dolorem sit minus beatae quod eius
      voluptates placeat repellendus assumenda eaque non pariatur ad consectetur
      aperiam reiciendis? Accusantium expedita corporis, fuga inventore repellat
      assumenda nobis asperiores sunt unde voluptatibus doloribus, commodi
      quaerat deserunt soluta impedit quia possimus delectus voluptates?
      Possimus laudantium ea saepe perspiciatis distinctio repellat soluta est
      ratione? Quas, omnis quidem culpa cum eaque minima nulla maxime sint
      fugiat soluta tenetur consequatur nobis aliquid! Voluptatum, facilis
      laudantium. Recusandae corporis repudiandae distinctio amet delectus sed,
      eligendi quae omnis, sapiente fuga aperiam praesentium. Odio, rem dicta.
    </div>

    <div>
      Lorem ipsum dolor sit amet, consectetur adipisicing elit. Debitis tempore,
      autem illo id harum animi eaque odio sed? Quo, dolores odio ab repudiandae
      minima animi aspernatur enim nam soluta magnam laudantium ut reprehenderit
      ducimus. Ipsam perferendis ad aspernatur veniam vel, reiciendis quos
      accusantium eaque accusamus non! Doloribus suscipit, consectetur dolores
      eveniet perferendis illo optio quam praesentium! Perferendis dolore, totam
      provident quibusdam aspernatur voluptates voluptatum eos eum porro
      reiciendis inventore odit nostrum itaque fugiat dicta sint neque? Odit
      amet fugit esse blanditiis obcaecati quo numquam eius vero adipisci
      repellat alias ipsa ex nemo maiores dolores iure commodi dolorum, quae
      quod officiis?
    </div>

    <div>
      Lorem ipsum dolor sit amet, consectetur adipisicing elit. Debitis tempore,
      autem illo id harum animi eaque odio sed? Quo, dolores odio ab repudiandae
      minima animi aspernatur enim nam soluta magnam laudantium ut reprehenderit
      ducimus. Ipsam perferendis ad aspernatur veniam vel, reiciendis quos
      accusantium eaque accusamus non! Doloribus suscipit, consectetur dolores
      eveniet perferendis illo optio quam praesentium! Perferendis dolore, totam
      provident quibusdam aspernatur voluptates voluptatum eos eum porro
      reiciendis inventore odit nostrum itaque fugiat dicta sint neque? Odit
      amet fugit esse blanditiis obcaecati quo numquam eius vero adipisci
      repellat alias ipsa ex nemo maiores dolores iure commodi dolorum, quae
      quod officiis?
    </div>

    <div>
      Lorem ipsum dolor sit amet, consectetur adipisicing elit. Debitis tempore,
      autem illo id harum animi eaque odio sed? Quo, dolores odio ab repudiandae
      minima animi aspernatur enim nam soluta magnam laudantium ut reprehenderit
      ducimus. Ipsam perferendis ad aspernatur veniam vel, reiciendis quos
      accusantium eaque accusamus non! Doloribus suscipit, consectetur dolores
      eveniet perferendis illo optio quam praesentium! Perferendis dolore, totam
      provident quibusdam aspernatur voluptates voluptatum eos eum porro
      reiciendis inventore odit nostrum itaque fugiat dicta sint neque? Odit
      amet fugit esse blanditiis obcaecati quo numquam eius vero adipisci
      repellat alias ipsa ex nemo maiores dolores iure commodi dolorum, quae
      quod officiis?
    </div>

    <div>
      Lorem ipsum dolor sit amet, consectetur adipisicing elit. Debitis tempore,
      autem illo id harum animi eaque odio sed? Quo, dolores odio ab repudiandae
      minima animi aspernatur enim nam soluta magnam laudantium ut reprehenderit
      ducimus. Ipsam perferendis ad aspernatur veniam vel, reiciendis quos
      accusantium eaque accusamus non! Doloribus suscipit, consectetur dolores
      eveniet perferendis illo optio quam praesentium! Perferendis dolore, totam
      provident quibusdam aspernatur voluptates voluptatum eos eum porro
      reiciendis inventore odit nostrum itaque fugiat dicta sint neque? Odit
      amet fugit esse blanditiis obcaecati quo numquam eius vero adipisci
      repellat alias ipsa ex nemo maiores dolores iure commodi dolorum, quae
      quod officiis?
    </div>
    <div>
      Lorem ipsum dolor sit amet, consectetur adipisicing elit. Debitis tempore,
      autem illo id harum animi eaque odio sed? Quo, dolores odio ab repudiandae
      minima animi aspernatur enim nam soluta magnam laudantium ut reprehenderit
      ducimus. Ipsam perferendis ad aspernatur veniam vel, reiciendis quos
      accusantium eaque accusamus non! Doloribus suscipit, consectetur dolores
      eveniet perferendis illo optio quam praesentium! Perferendis dolore, totam
      provident quibusdam aspernatur voluptates voluptatum eos eum porro
      reiciendis inventore odit nostrum itaque fugiat dicta sint neque? Odit
      amet fugit esse blanditiis obcaecati quo numquam eius vero adipisci
      repellat alias ipsa ex nemo maiores dolores iure commodi dolorum, quae
      quod officiis?
    </div>
    <div>
      Lorem ipsum dolor sit amet, consectetur adipisicing elit. Debitis tempore,
      autem illo id harum animi eaque odio sed? Quo, dolores odio ab repudiandae
      minima animi aspernatur enim nam soluta magnam laudantium ut reprehenderit
      ducimus. Ipsam perferendis ad aspernatur veniam vel, reiciendis quos
      accusantium eaque accusamus non! Doloribus suscipit, consectetur dolores
      eveniet perferendis illo optio quam praesentium! Perferendis dolore, totam
      provident quibusdam aspernatur voluptates voluptatum eos eum porro
      reiciendis inventore odit nostrum itaque fugiat dicta sint neque? Odit
      amet fugit esse blanditiis obcaecati quo numquam eius vero adipisci
      repellat alias ipsa ex nemo maiores dolores iure commodi dolorum, quae
      quod officiis?
    </div>
    <div>
      Lorem ipsum dolor sit amet, consectetur adipisicing elit. Debitis tempore,
      autem illo id harum animi eaque odio sed? Quo, dolores odio ab repudiandae
      minima animi aspernatur enim nam soluta magnam laudantium ut reprehenderit
      ducimus. Ipsam perferendis ad aspernatur veniam vel, reiciendis quos
      accusantium eaque accusamus non! Doloribus suscipit, consectetur dolores
      eveniet perferendis illo optio quam praesentium! Perferendis dolore, totam
      provident quibusdam aspernatur voluptates voluptatum eos eum porro
      reiciendis inventore odit nostrum itaque fugiat dicta sint neque? Odit
      amet fugit esse blanditiis obcaecati quo numquam eius vero adipisci
      repellat alias ipsa ex nemo maiores dolores iure commodi dolorum, quae
      quod officiis?
    </div>
    <div>
      Lorem ipsum dolor sit amet, consectetur adipisicing elit. Debitis tempore,
      autem illo id harum animi eaque odio sed? Quo, dolores odio ab repudiandae
      minima animi aspernatur enim nam soluta magnam laudantium ut reprehenderit
      ducimus. Ipsam perferendis ad aspernatur veniam vel, reiciendis quos
      accusantium eaque accusamus non! Doloribus suscipit, consectetur dolores
      eveniet perferendis illo optio quam praesentium! Perferendis dolore, totam
      provident quibusdam aspernatur voluptates voluptatum eos eum porro
      reiciendis inventore odit nostrum itaque fugiat dicta sint neque? Odit
      amet fugit esse blanditiis obcaecati quo numquam eius vero adipisci
      repellat alias ipsa ex nemo maiores dolores iure commodi dolorum, quae
      quod officiis?
    </div>
  </div>
</div>

<style>
  .image-test {
    position: sticky;
    top: 0;
    left: 0;
    align-self: flex-start;
    width: 50%;
    height: 100%;
    object-fit: cover;

  }
  .section-test {
    min-height: 100vh;
    /* background-image: url('../../assets/img/image-test.jpg');
    background-position: top left;
    background-size: contain;
    background-repeat: no-repeat; */
    display: flex;
    gap: 20px;
  }

  .text {
    display: grid;
    gap: 20px;
    width: 50%;
    color: #fff;
    margin-left: auto;

  }
</style>
