---

---

<p class="section-subtitle">
  <slot />
</p>

<style lang="scss">
  .section-subtitle {
    font-size: 15px;
    line-height: 1.73;
    font-weight: 400;
    color: #cccbca;
    text-transform: uppercase;
    letter-spacing: 0.8px;
  }
</style>
