---
import Container from '@components/Container.astro';
import SectionIntro from './SectionIntro.astro';
import type { SectionTitleProps } from './SectionTitle.astro';

interface Props {
  title?: astroHTML.JSX.Element | string;
  className?: string;
  id?: string;
  labelledby?: string;
  titleTag?: SectionTitleProps['Tag'];
}

const { className, id, labelledby } = Astro.props;
---

<section class:list={['section', className]} id={id}>
  <Container>
    <div class="wrapper">
      <SectionIntro>
        <slot slot="section-subtitle" name="section-subtitle" />
        <slot slot="section-title" name="section-title" />
      </SectionIntro>
      <div class="content">
        <slot />
      </div>
    </div>
  </Container>
</section>

<style>
  .section {
    padding-block: 80px;
  }

  .wrapper {
    display: grid;
    gap: 40px;
  }

  @media screen and (min-width: 767px) {
    .wrapper {
      gap: 64px;
    }
  }

  @media screen and (min-width: 1024px) {
    .wrapper {
      display: grid;
      grid-template-columns: 463px minmax(300px, 537px);
      align-items: start;
      justify-content: space-between;
    }
  }
</style>
