---
import LogoWithText from '@components/LogoWithText.astro';
---

<section class="section">
  <LogoWithText />
</section>

<style>
  .section {
    display: grid;
    gap: 12px;
    justify-items: center;
    align-items: center;
    padding: 80px 0 112px;
    text-align: center;
  }

  .logo-text {
    width: 45px;
    height: 20px;
  }

  @media screen and (min-width: 767px) {
    .section {
      gap: 24px;
    }
  }
</style>
