---
import Button from '@components/Button.astro';
import Section from './Section.astro';
import Paragraph from '@components/Paragraph.astro';
import Paragraphs from '@components/Paragraphs.astro';
import { AnchorLinks, AnchorSections } from 'src/config';
---

<Section
  class="section-how-it-works"
  data-intersect
  id={AnchorSections.howItWorks}
  titleId="section-how-it-works-title"
>
  <Fragment slot="section-subtitle">Як це працює</Fragment>
  <Fragment slot="section-title">Підписка на вино</Fragment>
  <Paragraphs>
    <Paragraph>
      Це як Netflix, тільки винний. Підписуєтесь — і кожного місяця до вас
      приїжджатиме одна або дві пляшки вина. І кожен раз ці вина будуть різні.
    </Paragraph>
    <Paragraph>
      А ще ми знімаємо відеоогляди про кожну пляшку, що потрапляють у підписку.
      Доступ до цих відео мають лише підписники. Казали ж, як Netflix!
    </Paragraph>
  </Paragraphs>
  <div class="button-wrapper">
    <Button
      href={AnchorLinks.subscribe}
      data-analytics="first_section_button_subscribe_click">Підписатись</Button
    >
  </div>
</Section>

<style lang="scss">
  .section-how-it-works {
    padding-block: 80px 120px;
    @media screen and (min-width: $bp-desktop-min) {
      padding-block: 120px 160px;
    }
  }

  .button-wrapper {
    margin-block-start: 32px;
    @media screen and (min-width: $bp-desktop-min) {
      margin-block-start: 40px;
    }
  }
</style>
