---
import { Image } from 'astro:assets';
import Section from './Section.astro';
import SectionIntro from './SectionIntro.astro';
import SectionTitle from './SectionTitle.astro';
import SectionSubtitle from './SectionSubtitle.astro';
import img1 from '@assets/img/about/1.jpg';
import img2 from '@assets/img/about/2.jpg';
import img3 from '@assets/img/about/3.jpg';
import img4 from '@assets/img/about/4.jpg';
import img5 from '@assets/img/about/5.jpg';
import img6 from '@assets/img/about/6.jpg';

const images = [img1, img2, img3, img4, img5, img6];
---

<section class="about" id="about">
  <div class="content">
    <SectionIntro>
      <SectionTitle Tag="h2"> що за сік?</SectionTitle>
      <SectionSubtitle>
        ми будуємо ком’юніті людей, які люблять вино. організовуємо десятки
        дегустацій кожного місяця та робимо підписку на вино
      </SectionSubtitle>
    </SectionIntro>
    <div class="images">
      {images.map((image) => <Image src={image} alt="" />)}
    </div>
  </div>
</section>

<style>
  .about {
    padding-top: 0;
    padding-bottom: 160px;

    @media screen and (min-width: 768px) {
      padding-bottom: 240px;
    }

    @media screen and (min-width: 1280px) {
      padding-bottom: 320px;
    }
  }

  .content {
    display: grid;
    justify-items: center;
    gap: 64px;
  }

  .images {
    --cols: 1;

    display: grid;
    gap: 8px;
    margin-top: 40px;
    grid-template-columns: repeat(var(--cols), 1fr);

    @media screen and (min-width: 768px) {
      --cols: 2;

      gap: 10px 16px;
      margin-top: 48px;
    }

    @media screen and (min-width: 1280px) {
      --cols: 3;

      gap: 16px;
      margin-top: 64px;
    }
  }

  .images img {
    border-radius: 16px;
    overflow: hidden;
  }
</style>
