---
import { Image } from 'astro:assets';
import Section from './Section.astro';
import SectionIntro from './SectionIntro.astro';
import SectionTitle from './SectionTitle.astro';
import telegramFrameImg from '@assets/img/telegram-frame.png';
---

<section class="section-subscribe" id="contact">
  <div class="content">
    <SectionIntro>
      <SectionTitle Tag="h2">
        підписуйтесь в телеграмі або інсті, щоб слідкувати за анонсами
      </SectionTitle>
    </SectionIntro>
    <button type="button"> btn </button>
    <button type="button" id="test-event"> BTN TEST EVENT </button>
  </div>
</section>

<style lang="scss">
  .section-subscribe {
    padding: 0;
  }

  .content {
    display: grid;
    justify-items: center;
    gap: 64px;
  }

  .content img {
    max-width: 504px;
    width: 100%;
  }
</style>

<script is:inline>
  const testButton = document.querySelector('#test-event');
  testButton.addEventListener('click', () => {
    console.log('TEST EVENT');
    // @ts-ignore
    gtag('event', 'test_event');
  });
  const link = document.querySelector('.section-subscribe button');
  link.addEventListener('click', () => {
    console.log('click');
    // @ts-ignore
    gtag('event', 'view_telegram_channel_gtag');
  });
</script>
