---
import LogoWithText from '@components/LogoWithText.astro';
---

<section class="section" data-intersect>
  <LogoWithText />
</section>

<style lang="scss">
  .section {
    --padding-top: 80px;
    --padding-bottom: 120px;

    display: grid;
    gap: 12px;
    justify-items: center;
    align-items: center;
    padding-block: var(--padding-top)
      calc(var(--padding-bottom) - var(--footer-block-padding));
    text-align: center;

    @media screen and (min-width: $bp-tablet-min) {
      --padding-top: 100px;
      --padding-bottom: 240px;

      gap: 24px;
    }
  }

  .logo-text {
    width: 45px;
    height: 20px;
  }
</style>
