---
import SectionTitle from './SectionTitle.astro';
import SectionSubtitle from './SectionSubtitle.astro';
interface Props {
  align?: 'center' | 'start' | 'end';
}

const { align = 'start' }: Props = Astro.props;
---

<div class:list={['section-intro', `section-intro--align-${align}`]}>
  <SectionSubtitle><slot name="section-subtitle" /></SectionSubtitle>
  <SectionTitle><slot name="section-title" /></SectionTitle>
</div>

<style>
  .section-intro {
    display: grid;
    gap: 8px;
    max-width: 463px;
    width: 100%;
  }

  .section-intro--align-start {
    text-align: start;
  }

  .section-intro--align-center {
    text-align: center;
    margin-inline: auto;
  }

  .section-intro--align-end {
    text-align: end;
    margin-inline-start: auto;
  }

  @media screen and (min-width: 767px) {
    .section-intro {
      gap: 16px;
    }
  }
</style>
