---
import LogoWithText from '@components/LogoWithText.astro';
---

<section class="section" data-intersect aria-label="Логотип Сік">
  <LogoWithText />
</section>

<style lang="scss">
  .section {
    display: grid;
    justify-items: center;
    align-items: center;
    align-self: center;
    text-align: center;
  }
</style>
