---
import Container from '@components/Container.astro';
import SectionIntro from './SectionIntro.astro';
import type { SectionTitleProps } from './SectionTitle.astro';
import type { HTMLAttributes } from 'astro/types';

interface Props extends HTMLAttributes<'section'> {
  title?: astroHTML.JSX.Element | string;
  id?: string;
  labelledby?: string;
  titleTag?: SectionTitleProps['Tag'];
  class?: string;
}

const { class: className, id, labelledby, ...props } = Astro.props;
---

<section class:list={['section', className]} id={id} {...props}>
  <Container>
    <div class="wrapper">
      <SectionIntro>
        <slot slot="section-subtitle" name="section-subtitle" />
        <slot slot="section-title" name="section-title" />
      </SectionIntro>
      <div class="content">
        <slot />
      </div>
    </div>
  </Container>
</section>

<style lang="scss">
  .section {
    padding-block: 40px;

    @media screen and (min-width: $bp-desktop-min) {
      padding-block: 60px;
    }
  }

  .wrapper {
    display: grid;
    gap: 40px;

    @media screen and (min-width: $bp-tablet-min) {
      gap: 64px;
    }

    @media screen and (min-width: $bp-desktop-min) {
      display: grid;
      grid-template-columns: 463px minmax(300px, 537px);
      align-items: start;
      justify-content: space-between;
    }
  }
</style>
