---
import Button from '@components/Button.astro';
import Section from './Section.astro';
import Paragraph from '@components/Paragraph.astro';
import Paragraphs from '@components/Paragraphs.astro';
import { Picture } from 'astro:assets';
import RomaImage from '@assets/img/roma.png';
import { AnchorSections } from 'src/config';
---

<Section
  class="section-about"
  data-intersect
  id={AnchorSections.whatsInside}
  titleId="section-about-title"
>
  <Fragment slot="section-subtitle">Що всередині</Fragment>
  <Fragment slot="section-title">Що за пляшки на мене чекають?</Fragment>
  <Paragraphs>
    <Paragraph>
      Секрет! Дізнатись можна лише замовивши підписку та розпакувавши пляшки. Їх
      для вас кожен місяць ретельно підбирає Рома Ремеєв — екс-шеф сомельє
      Goodwine і один з кращих сомельє України. Він, як відомо, спробував усе
      вино в світі.
    </Paragraph>
    <Paragraph>
      Звісно ж, ми дивимось рейтинги цих вин по Паркеру, Vivino, Wine Spectator
      та Wine Enthusiast. Авжеж, враховуємо сезонність. До вас не приїде
      Супертоскана в 30-градусну спеку. Тому не переживайте, вино буде чудове,
      обіцяємо.
    </Paragraph>
  </Paragraphs>
  <figure class="roma">
    <Picture
      densities={[1, 2]}
      width={RomaImage.width / 2}
      src={RomaImage}
      formats={['webp']}
      class="roma-image"
      alt=""
    />
    <figcaption>Той самий Рома Ремеєв</figcaption>
  </figure>
</Section>

<style lang="scss">
  .section-about {
    padding-block-start: 80px;

    @media screen and (min-width: $bp-desktop-min) {
      padding-block-start: 120px;
    }
  }

  .roma {
    display: grid;
    gap: 8px;
    margin-block-start: 40px;
    color: var(--color-light-gray);

    @media screen and (min-width: 1024px) {
      margin-block-start: 66px;
    }
  }

  .roma-image {
    border-radius: 50%;
  }
</style>
