---
---

<div class="section-intro">
  <slot />
</div>

<style>
  .section-intro {
    transition-duration: 0.5s;
    transition-property: transform, opacity;
    transform: translateY(50px);
    opacity: 0;
    display: grid;
    justify-content: center;
  }

  .section-intro.is-visible {
    opacity: 1;
    transform: translateY(0);
  }
</style>

<script>
  const title = document.querySelectorAll('.section-intro');
  const titleObserver = new IntersectionObserver(
    (entries) => {
      entries.forEach((entry) => {
        if (entry.isIntersecting) {
          entry.target.classList.add('is-visible');
        }
      });
    },
    {
      threshold: 1,
    }
  );

  title.forEach((item) => titleObserver.observe(item));
</script>
