---
import SectionTitle from './SectionTitle.astro';
import SectionSubtitle from './SectionSubtitle.astro';
import type { HTMLAttributes } from 'astro/types';
interface Props extends HTMLAttributes<'div'> {
  align?: 'center' | 'start' | 'end';
  titleId?: string;
}

const { align = 'start', titleId } = Astro.props;
---

<div
  class:list={['section-intro', `section-intro--align-${align}`]}
  data-intersect
>
  <SectionSubtitle><slot name="section-subtitle" /></SectionSubtitle>
  <SectionTitle id={titleId}><slot name="section-title" /></SectionTitle>
</div>

<style lang="scss">
  .section-intro {
    display: grid;
    gap: 0.8rem;
    max-width: 46.3rem;
    width: 100%;

    &--align-start {
      text-align: start;
    }

    &--align-center {
      text-align: center;
      margin-inline: auto;
    }

    &--align-end {
      text-align: end;
      margin-inline-start: auto;
    }

    @media screen and (min-width: $bp-tablet-min) {
      gap: 1.6rem;
    }
  }
</style>
