---
import Container from '@components/Container.astro';
import { Image } from 'astro:assets';
import tableImage from '@assets/img/table.jpg';
---

<section class="section">
  <Container>
    <!-- <Image class="image" src={tableImage} alt="" /> -->
  </Container>
</section>

<style></style>
