---
import FormHeader from '@components/header/FormHeader.astro';
import GeneralLayout from './GeneralLayout.astro';
---

<GeneralLayout>
  <div class="content">
    <FormHeader />
    <slot />
  </div>
</GeneralLayout>

<style lang="scss">
  .content {
    display: grid;
    grid-template-rows: auto 1fr auto;
    gap: 44px;

    @media screen and (min-width: $bp-tablet-min) {
      gap: 40px;
    }
  }
</style>
