---
import FormHeader from '@components/header/FormHeader.astro';
import GeneralLayout from './GeneralLayout.astro';
import SuccessModal from '@components/modals/SuccessModal.astro';
import ErrorModal from '@components/modals/ErrorModal.astro';
---

<GeneralLayout isSmallPage>
  <div class="content">
    <FormHeader />
    <slot />
    <Fragment name="modals">
      <SuccessModal />
      <ErrorModal />
    </Fragment>
  </div>
</GeneralLayout>

<style lang="scss">
  .content {
    display: grid;
    grid-template-rows: auto 1fr;
    gap: 44px;

    @media screen and (min-width: $bp-tablet-min) {
      gap: 40px;
    }
  }
</style>
