---
import AdultModal from '@components/modals/AdultModal.astro';
import '../styles/global.css';
import Toast from '@components/toast/Toast.astro';
import CommonMeta from '@components/head/CommonMeta.astro';
import Seo from '@components/head/Seo.astro';
import GoogleAnalytics from '@components/head/analytics/GoogleAnalytics.astro';
import FacebookAnalytics from '@components/head/analytics/facebook/FacebookAnalytics.astro';
import FacebookAnalyticsNoScript from '@components/head/analytics/facebook/FacebookAnalyticsNoScript.astro';
import Favicons from '@components/head/Favicons.astro';
import { LocalStorageKeys } from 'src/constants/storage';
import { ModalIds } from 'src/constants/modals';

interface Props {
  title?: string;
  pageThemeColor?: string;
  isSmallPage?: boolean;
}

const { pageThemeColor, isSmallPage = false } = Astro.props;
---

<!doctype html>
<html lang="uk">
  <head>
    <CommonMeta pageThemeColor={pageThemeColor} />
    <Seo />
    <Favicons />
    <meta name="robots" content="noindex, nofollow" />
    <GoogleAnalytics />
    <!-- <FacebookAnalytics /> -->
  </head>
  <body style={isSmallPage ? 'min-height: 100dvh;' : ''}>
    <!-- <FacebookAnalyticsNoScript /> -->
    <slot />
    <Toast />
    <div id="modal-container">
      <AdultModal />
      <slot name="modals" />
    </div>
    <script is:inline define:vars={{ LocalStorageKeys, ModalIds }}>
      const adultModal = document.getElementById(ModalIds.ADULT_MODAL);
      const isInStorage = localStorage.getItem(LocalStorageKeys.ADULT_MODAL);
      if (isInStorage) {
        adultModal?.remove();
      } else {
        adultModal?.setAttribute('aria-hidden', 'false');
      }
    </script>
  </body>
</html>

<script>
  import { initAnalyticsDOM } from 'src/services/analytics/utils';
  import AnalyticsManager from 'src/services/analytics';
  import { ModalIds } from 'src/constants/modals';

  document.addEventListener('DOMContentLoaded', () => {
    const analyticsManager = new AnalyticsManager();
    window.analyticsManager = analyticsManager;
    initAnalyticsDOM();
  });
</script>
