---
import AdultModal from '@components/AdultModal.astro';
import '../styles/global.css';
import Toast from '@components/toast/Toast.astro';
import CommonMeta from '@components/head/CommonMeta.astro';
import Seo from '@components/head/Seo.astro';
import GoogleAnalytics from '@components/head/analytics/GoogleAnalytics.astro';
import FacebookAnalytics from '@components/head/analytics/facebook/FacebookAnalytics.astro';
import FacebookAnalyticsNoScript from '@components/head/analytics/facebook/FacebookAnalyticsNoScript.astro';

interface Props {
  title: string;
}

const { title = 'sik astro' } = Astro.props;
---

<!doctype html>
<html lang="uk">
  <head>
    <CommonMeta />
    <link rel="preconnect" href="https://www.googletagmanager.com" />
    <link rel="preconnect" href="https://www.google-analytics.com" />
    <GoogleAnalytics />
    <Seo />
    <meta name="robots" content="noindex, nofollow" />
    <meta name="theme-color" content="#252124" />
    <!-- <FacebookAnalytics /> -->
  </head>
  <body>
    <!-- <FacebookAnalyticsNoScript /> -->
    <slot />
    <Toast />
    <AdultModal />
  </body>
</html>
