---
import Footer from '@components/Footer.astro';
import Header from '@components/Header.astro';
import '../styles/global.css';
import Toast from '@components/toast/Toast.astro';

interface Props {
  title: string;
}

const { title = 'sik astro' } = Astro.props;
---

<!doctype html>
<html lang="uk">
  <head>
    <!-- Google tag (gtag.js)
    <script
      async
      is:inline
      src="https://www.googletagmanager.com/gtag/js?id=G-XG5PT95276"></script>
    <script is:inline>
      window.dataLayer = window.dataLayer || [];
      function gtag() {
        dataLayer.push(arguments);
      }
      gtag('js', new Date());

      gtag('config', 'G-XG5PT95276');
      gtag('event', 'test_event');
      gtag('event', 'random_event');
    </script> -->
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width,initial-scale=1" />
    <title>{title}</title>
    <meta name="description" content="ком'юніті людей, які люблять вино" />
    <link rel="icon" href="./favicon.ico" sizes="32x32" />
    <link
      rel="icon"
      href="./favicon-light.svg"
      type="image/svg+xml"
      media="(prefers-color-scheme: light)"
    />
    <link
      rel="icon"
      href="./favicon-dark.svg"
      type="image/svg+xml"
      media="(prefers-color-scheme: dark)"
    />
    <link rel="sitemap" href="/sitemap-index.xml" />
    <link rel="apple-touch-icon" href="./apple-touch-icon.png" />
    <link rel="manifest" href="./site.webmanifest" />
    <link
      rel="preload"
      as="image"
      href="./assets/video-thumbnail.png"
      fetchpriority="high"
    />
    <meta property="og:title" content="sik" />
    <meta
      property="og:description"
      content="ком'юніті людей, які люблять вино"
    />
    <meta property="og:image" content="https://sik.wine/img/preview.jpg" />
    <meta property="og:image:alt" content="Пляшки натурального вина" />
    <meta property="og:url" content="https://sik.wine" />
    <meta property="og:site_name" content="sik" />
    <meta property="og:locale" content="uk_UA" />
    <meta property="og:type" content="website" />
    <meta name="twitter:card" content="summary_large_image" />
    <meta name="twitter:image:alt" content="Пляшки натурального вина" />
    <link rel="canonical" href="https://sik.wine" />
    <meta name="theme-color" content="#252124" />

    <!-- Facebook Pixel Code -->
    <!-- <script is:inline>
      !(function (f, b, e, v, n, t, s) {
        if (f.fbq) return;
        n = f.fbq = function () {
          n.callMethod
            ? n.callMethod.apply(n, arguments)
            : n.queue.push(arguments);
        };
        if (!f._fbq) f._fbq = n;
        n.push = n;
        n.loaded = !0;
        n.version = '2.0';
        n.queue = [];
        t = b.createElement(e);
        t.async = !0;
        t.src = v;
        s = b.getElementsByTagName(e)[0];
        s.parentNode.insertBefore(t, s);
      })(
        window,
        document,
        'script',
        'https://connect.facebook.net/en_US/fbevents.js'
      );
      fbq('init', '533165442383526');
      fbq('track', 'PageView');
    </script> -->
    <!-- End Facebook Pixel Code -->
  </head>
  <body>
    <Header />
    <slot />
    <Footer />
    <Toast />
  </body>
</html>
