---
import AdultModal from '@components/AdultModal.astro';
import '../styles/global.css';
import Toast from '@components/toast/Toast.astro';
import CommonMeta from '@components/head/CommonMeta.astro';
import Seo from '@components/head/Seo.astro';
import GoogleAnalytics from '@components/head/analytics/GoogleAnalytics.astro';
import FacebookAnalytics from '@components/head/analytics/facebook/FacebookAnalytics.astro';
import FacebookAnalyticsNoScript from '@components/head/analytics/facebook/FacebookAnalyticsNoScript.astro';

interface Props {
  title: string;
  pageThemeColor?: string;
}

const { title = 'sik astro', pageThemeColor } = Astro.props;
---

<!doctype html>
<html lang="uk">
  <head>
    <CommonMeta pageThemeColor={pageThemeColor} />
    <link rel="preconnect" href="https://www.googletagmanager.com" />
    <link rel="preconnect" href="https://www.google-analytics.com" />
    <Seo />
    <meta name="robots" content="noindex, nofollow" />
    <GoogleAnalytics />
    <!-- <FacebookAnalytics /> -->
  </head>
  <body>
    <!-- <FacebookAnalyticsNoScript /> -->
    <slot />
    <Toast />
    <AdultModal />
    <script is:inline>
      const adultModal = document.getElementById('adult-modal');
      const isInStorage = localStorage.getItem('adult-modal');
      if (isInStorage) {
        adultModal?.remove();
      } else {
        adultModal?.setAttribute('aria-hidden', 'false');
      }
    </script>
  </body>
</html>
