---
import Header from '../components/header/Header.astro';
import GeneralLayout from './GeneralLayout.astro';
---

<GeneralLayout>
  <Header />
  <div class="content">
    <slot />
  </div>
</GeneralLayout>
